set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

insmod gfxmenu
insmod png
loadfont SQMarket-Bold-20
loadfont unicode

set theme=$prefix/themes/square/theme.txt
terminal_output gfxterm

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l '@ISOLABEL@'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'START CENTOS 7 WITH nCIPHER TOOLS (NO MEDIA CHECK)' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi @KERNELPATH@ @ROOT@ rd.live.image quiet
  initrdefi @INITRDPATH@
}
menuentry 'START CENTOS 7 WITH nCIPHER TOOLS' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi @KERNELPATH@ @ROOT@ rd.live.image rd.live.check quiet
  initrdefi @INITRDPATH@
}
submenu 'TROUBLESHOOTING...' {
  menuentry 'Start @PRODUCT@ @VERSION@ in basic graphics mode' --class fedora --class gnu-linux --class gnu --class os {
    linuxefi @KERNELPATH@ @ROOT@ rd.live.image xdriver=vesa nomodeset quiet
    initrdefi @INITRDPATH@
  }
  menuentry 'Rescue a @PRODUCT@ system' --class fedora --class gnu-linux --class gnu --class os {
    linuxefi @KERNELPATH@ @ROOT@ rd.live.image rescue quiet
    initrdefi @INITRDPATH@
  }
}
