click==8.0.3
ghp-import==2.0.2
importlib-metadata==4.8.1
Jinja2==3.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.2.3
packaging==21.2
pyparsing==2.4.7
python-dateutil==2.8.2
PyYAML==6.0
pyyaml_env_tag==0.1
six==1.16.0
watchdog==2.1.6
zipp==3.19.1